body {
 font-family: 'Open Sans', sans-serif;
}

main {
  width:500px;
  margin: 0 auto;
 
}
.newsletter-form{
  color:#666666;
  border: 1px solid #666666;
  padding: 10px;
  border-radius:3px;
  position: relative;
  
 
}
input[type="text"]{
  width:100%;
   box-sizing: border-box;
  height:30px;
  margin:0 0 5px;
}

input[type="submit"]{
  
  width:100%;
  box-sizing: border-box;
  background: #3cb878;
  border:0;
  height:30px;
  color:white;
  margin:0 0 10px;
  cursor: pointer;
}
.newsletter-form h2{
  margin-top:0;
}
a{
  color:#3cb878;
}
.exit-button{
  position: absolute;
  top: 3px;
  right: 10px;
  
  cursor: pointer;
  
}
.question-button {
position: fixed;
bottom: 10px;
right:10px;
width:100px;
height:100px;
background: #3cb878;
color: white;
font-size:70px;
text-align: center;
border-radius: 50%;
cursor: pointer;
}
.feature{
  background: #3cb878;
  padding:15px;
  margin: 5px 0;
  
}
.key-features{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature p {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}